<div class="timeline-comment-wrapper js-comment-container">
    <a href="/{{user.login}}"><img alt="{{user.login}}" class="timeline-comment-avatar"
                                   v-attr="src:user.avatar_url"
                                   height="48"
                                   width="48"></a>

    <div class="timeline-comment owner-comment current-user" v-on="dblclick : editComment(this, $event)">
        <div class="timeline-comment-header">
            <div class="timeline-comment-header-text">
                <strong>
                    <a href="/azu" class="author">{{user.login}}</a>
                </strong>

                commented

                <time title="2014年5月20日 7:34 JST" datetime="2014-05-19T15:34:44-07:00" is="relative-time">3
                    months ago
                </time>
            </div>
            <div class="timeline-comment-actions">
                <button class="octicon octicon-pencil js-comment-edit-button"
                        v-on="click : editComment(this, $event)"></button>
            </div>
        </div>

        <div class="comment-content" v-show="!isEditing(this)">
            {{{body | marked}}}
        </div>
        <div>
            <textarea v-attr="id:commentID" id="js-issue-comment" class="placeholder-editor hidden"></textarea>
        </div>
    </div>
</div>
